/* CSS declarations go here */
.BrandImage
{
	height: 200px;
	width: 200px;
	vertical-align:middle;

}
.TablaCoqueta
{

  border-collapse: separate;
  border-spacing: 20px 10px;
  text-align: center;
  margin: 0 auto;
  text-align: left;
  border-collapse: separate;

}
.SpecImage
{
	height: 85%;
	width: 85%;
	vertical-align:middle;
}
.ModelImage
{
	height: 200px;
	width: 200px;
	vertical-align:middle;
}
.elPapadeTodos
{
	justify-content:center
}
.descripcion
{
	text-align:center;	
}
.col-sm-4
{
	border-color: black;
}
.titu{
	text-align: center;
  font-family: fantasy;
}
input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 50px 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.mainDesc
{
  font-size: x-large;
  text-align: justify;
  margin-right: 50px;
  margin-left: 50px;
}
.uniandes
{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.imageHomePage
{
    width: 100%;
    height: 500px;
    vertical-align:middle;
    margin: auto;
}
h1, h2
{
    font-family: fantasy;
}
.comentario
{
    overflow-wrap: break-word;
    white-space: pre-wrap;

}
#myLabel
{
	padding-left: 50px;
}
.contenedora
{
    border-style: solid;
}
.tituloLibro
{
    font-style: italic;
}
.imagenLibro
{
    width: 80%;
    height: 80%;
}
.descLibro
{
    font-size: large;
}

.historia
{
    font-size: large;
    text-align: justify;
}
.contenedora
{
    border-style: solid;
}
